opencv-python
mediapipe
numpy
pyautogui
pycaw
comtypes==1.2.0
speechrecognition==3.10.0
pyttsx3==2.90
pyaudio==0.2.11
requests==2.31.0
beautifulsoup4==4.12.2
selenium==4.15.2
webdriver-manager==4.0.1
psutil==5.9.6
keyboard==0.13.5
mouse==0.7.1
pillow==10.1.0
customtkinter==5.2.0

transformers==4.35.0
torch
torchaudio
sentence-transformers==2.2.2
spacy==3.7.2
vosk==0.3.45
onnxruntime


